# =========================
# Build outputs
# =========================
bin/
*.o
*.out
*.a
*.so

# =========================
# Logs (Valgrind, debug, etc.)
# =========================
logs/
valgrind-*.log

# =========================
# IDE files
# =========================
.vscode/
